<div class="row">
    
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>MobilNo</td>
                    <td>Address</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>

                <tr *ngfor="let st of stu">
                    <td>{{st.id}}</td>
                    <td>{{st.name}}</td>
                    <td>{{st.mobileno}}</td>
                    <td>{{st.address}}</td>
                    <!-- <td><a class="btn" ><i class="fa fa-edit"></i></a></td> -->
                    <!-- <td><a class="btn" (click)="editData()"><i class="fa fa-edit"></i></a></td> -->
                    <!-- <td><a class="btn"><i class="fa fa-trash"></i></a></td> -->
                    <!-- <td><a class="btn" (click)="deleteData)"><i class="fa fa-trash"></i></a></td> -->

                </tr>


            </tbody>

        </table>

    </div>

